@page
@{
    ViewData["Title"] = "Admin - Створити товар";
    @model CreateProductItemModel
}


    <div class="container">
        @ViewData["Title"]
        <div class="row">

            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="CatalogCreateModel.PictureUri" class="control-label"></label>
                    <input type="file" name="PictureUri" /><br>

                    <span asp-validation-for="CatalogCreateModel.PictureUri" class="text-danger"></span>
                </div>
                @*            <img class="esh-catalog-thumbnail" src="@Model.CatalogCreateViewModel.PictureUri" />*@
                <form method="post">
                    <div class="form-group">
                        <label asp-for="CatalogCreateModel.Name"></label>
                        <input asp-for="CatalogCreateModel.Name" class="form-control" />
                        <span asp-validation-for="CatalogCreateModel.Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CatalogCreateModel.Price"></label>
                        <input asp-for="CatalogCreateModel.Price" class="form-control" />
                        <span asp-validation-for="CatalogCreateModel.Price"></span>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="esh-catalog-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>